.DS_Store
Cellar/.obsidian/workspace.json
Cellar/.obsidian/workspace-mobile.json
Cellar/.obsidian/hotkeys.json
Cellar/.obsidian/graph.json

# Ignore personal data, but track framework files
Cellar/1_Wines/
Cellar/1_Whiskeys/
