.DS_Store
WineCellar/.obsidian/workspace.json
WineCellar/.obsidian/workspace-mobile.json
WineCellar/.obsidian/hotkeys.json
WineCellar/.obsidian/graph.json

# Ignore personal data, but track framework files
WineCellar/1_Wines/
WineCellar/1_Whiskeys/